html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: green;
  font-family: monospace;
  font-size: 12pt;
}

nav {
  position: sticky;
  top: 0;
  background: orange;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 5px;
  background: purple;
}

.content-list {
  width: 100%;
  display: grid;
  box-sizing: border-box;
  padding: 0px;
}

.content-list li {
  margin: 5px;
  background: gray;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.footer ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  background: purple;
}

li {
  list-style: none;
  margin-right: 20px;
}

li a {
  text-decoration: none;
  color: blue;
}

.content-list li div {
  max-width: 70%;
}

.instructions {
  max-width: 100%;
}

section {
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 50px;
  font-weight: bold;
  background: #eee;
}

.footer {
  padding: 0px;
  background: purple;
  color: #da2;
  position: sticky;
  bottom: 0;
  margin-top: 0;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

button {
  border: 4px outset gray;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: monospace;
  padding: 7px;
}

button:hover {
  background-color: blue;
  color: white;
}

input {
  background-color: black;
  color: green;
  font-family: monospace;
  padding: 10px;
}

.bright {
  color: lightgreen;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 5px;
}

.rainbow {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  /* font-family: sans-serif; */
  /* font-size: 3rem; */
  /* letter-spacing: 0.15rem; */
  /* text-transform: uppercase; */
  color: #fff;
  text-shadow: -2px 2px #ef3550, -4px 4px #f48fb1, -6px 6px #7e57c2, -8px 8px #2196f3, -10px 10px #26c6da,
    -12px 12px #43a047, -14px 14px #eeff41, -16px 16px #f9a825, -18px 18px #ff5722;
}

.rainbow2 {
  margin-top: 0px;
  margin-bottom: 10px;
  /* font-family: sans-serif; */
  letter-spacing: 0.25rem;
  background: linear-gradient(to right, orange 0%, yellow 5%, green 10%, cyan 15%, #2196f3 20%, violet 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
